<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>

    <h1>SignUP</h1>
    <h3>{{ message }}</h3>
    <form method="POST"  action="/signup">
        <label >Username</label>
        <input type="text" name="username"  placeholder="Username">
        <br>
        <label >Email</label>
        <input type="Email" name="Email" placeholder="email">
        <br>
        <label >Password</label>
        <input type="password" name="password" >
        <br>
        <button type="submit">Submit</button>
    </form>   
    
</body>
</html>